.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;   
    transition: all 4s; 
}
/* Add transition and hover to 1-square */
.ex-1-square:hover{
    background-color: red;
}
/* Add transition and property "active" to 2-square */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 4s;
}
.ex-2-square:active{
    width: 600px;
    height: 200px;
}
/* Add transition and hover to 3-square */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 4s linear;
}
.ex-3-square:hover{
    border-radius: 50%;
}
/* Add transition and hover to 4-square */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 4s ;
}
.ex-4-square:hover{
    width: 0;
    height: 0;
}
/* oppure: opacity:0 */

/* Add transition and hover to 5-square */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 4s;
}
.ex-5-square:hover{
    transform: scale(1.5);
}
.ex-5-square:active{
    transform: scale(-1.5);
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
/* Add transition-filter on hover to 6-img */
/* .ex-6-img{
    transition: all 4s;
} */
.ex-6-img:hover{
    filter: grayscale(100%);
}

/* Add transition+2filter on hover to 8-img */
.ex-8-img{
    transition:all 4s;
}
.ex-8-img:hover{
    filter: drop-shadow(20px 20px 20px black) grayscale(100%);
    border-radius: 15px;
}
/* Add 2transition+2filter on hover to 9-img */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 4s;
}
.ex-9-img:hover{
    filter: drop-shadow(20px 20px 20px black) grayscale(100%);
    border-radius: 15px;
    transform: scale(2);
}
/* Add rotation animation */
.ex-10-icon {
    font-size: 60px;
    animation-name: rotation;
    animation-iteration-count: infinite;
}
@keyframes rotation {
    0% {transform: rotate(360deg);}
  }
 
/* Add inverse rotation animation */
.ex-11-icon {
    font-size: 60px;
    animation-name: inverse-rotation;
    animation-duration: 4s;
}
@keyframes inverse-rotation {
    0% {transform: rotate(0deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(-0deg);}
  }
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;    
}
.ex-12-button:hover .ex-12-top-white{
    animation-name: white-slip;
    animation-duration: 4s;
}
@keyframes white-slip {
    0% {left: 10%;}  
    50%{left: calc(100% - 60px);}  
    100% {left: 10%;}
  }
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #faf9f9;
    width: 60px;
    height: 20px;
}
.ex-13-button:hover .ex-13-top-white{
    animation: complete-top-turn 4s;
}
@keyframes complete-top-turn {
    0% {top:-10px; 
        left: 10% ;}
    20% {top: -10px;
        left: 100%; }
    40% {top: 60px;
        left: 100%;}
    60% {top: 60px;
        left: -10%}
    80%{top: -10px;
        left: -10%}
    100% {top:-10px; 
        left: 10% ;}
}
.ex-13-button:hover .ex-13-bottom-white{
    animation: complete-bottom-turn 4s;
}
@keyframes complete-bottom-turn {
    0% {bottom:-10px; 
        right: 20% ;}
    20% {bottom:-10px;
        right: calc(100% - 30px) ;}
    40% {bottom: 60px;
        right: calc(100% - 30px);}
    60% {bottom: 60px;
        right: -10%;}
    80% {bottom: -10px;
        right: -10%;}
    100% {bottom:-10px; 
        right: 20% ;}
}
